.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.countryInput > select,
.stateInput > select,
.cityInput > select {
  padding: 10px;
  font-size: large;
}
